<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinestTabulation.Properties.Settings.finestdbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\finestdb.accdb"
            providerName="System.Data.OleDb" />
        <add name="FinestTabulation.Properties.Settings.finestdbConnectionString1"
            connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=finestdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinestTabulation.Properties.Settings.finestdbConnectionString2"
            connectionString="Data Source=ALLEM-PC\SQLEXPRESS;Initial Catalog=finestdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>